.input-box {
    height: 30px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

table {
    border-collapse: collapse;
}

table tr:last-child td {
    border-bottom: none;
}

table tr {
    cursor: pointer;
}