.account-type-select {
    border: 0cap;
    border: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 8px;
    height: 44px;
    width: 100%;
    margin-bottom: 20px;
}

.alternative-sign-up-separator {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    color: #3b5e69;
}