
.parent-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.container label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.container label input[type="text"] {
    margin-right: 10px;
    margin-bottom: 10px;
}

.container button {
    margin-top: 10px;
}

.container .list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.container .list div {
    margin-bottom: 5px;
}

.delete-button {
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    border: none;
    color: crimson;
    width: 44px;
    background-size: contain;
}

.add-button-image {
    position: flex;
    width: 20px;
    padding-top: 5px;
    cursor: pointer;
    height: 30px;
}

.delete-button-image {
    width: 30px;
    cursor: pointer;
}

.industry-submit {
    display: block;
    margin-right: 10px;
}