.tappable-button {
    width: auto;
    background-color: transparent;
    cursor: pointer;
    /* text-decoration: underline; */
    text-align: left;
    color: cadetblue;
    font-size: medium;
    border: none;
}

.tappable-delete-button {
    width: auto;
    background-color: transparent;
    cursor: pointer;
    text-decoration: underline;
    text-align: left;
    border: none;
    color: rgb(182, 43, 71);
}

.submit-button {
    min-width: 150px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #3b5e69;
    color: white;
    font-size: 16px;
    margin-top: 10px;
    text-align: center;

    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.important-red {
    background-color: #a91221;
}

.destructive-button {
    min-width: 150px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #a91221;
    color: white;
    font-size: 16px;
    margin-top: 10px;
    text-align: center;

    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.back-button {
    width: auto;
    background-color: transparent;
    cursor: pointer;
    text-align: left;
    color: cadetblue;
}

.button-style-remove {
    color: tomato;
    font-weight: 600;
    font-size: medium;
    background-color: rgba(0, 0, 0, 0.0);
    text-decoration: underline;
    text-align: center; 
    border-color: rgba(0, 0, 0, 0.0);
    border: 0px;
    cursor: pointer;
}