* {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
}

.title1,
.title2 {
  font-size: 5rem;
  font-weight: 600;
}

.title1 {
  color: #75bcd2;
}

.title2 {
  color: #46717e;
}

.title {
  max-width: 100%;
  text-align: center;
}

.sub-title {
  font-size: 18px;
}

.your-title-color {
  color: #75bcd2;
}

.line-title-color {
  color: #46717e;
}

.shadowed {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.bordered {
  border: 1px solid rgba(0, 0, 0, 0.2); padding: 10px; border-radius: 10px;
}