

.animated-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100%;
  padding-left: 200px;
}

.animated-text {
  color: #3b5e69;
  font-size: 3rem;
  font-weight: 100;
  line-height: 1.5;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: 550px;
}

.static-text {
  font-size: 40px;
  margin-left: 40px;
}

.message {
  background-color: #75BCD2;
  display: block;
  font-weight: 900;
  overflow: hidden;
  position: absolute;
  padding-left: 0.5rem;
  top: 0.2rem;
  left: 150px;
  animation: openclose 5s ease-in-out infinite;
}

  @keyframes openclose {
    0% {
      top: 0.1rem;
      width: 0;
    }
    5% {
      width: 0;
    }
    15% {
      width: 160px;
    }
    30% {
      top: 0.1rem;
      width: 160px;
    }
    33% {
      top: 0.1rem;
      width: 0;
    }
    35% {
      top: 0.1rem;
      width: 0;
    }
    38% {
      top: -4.4rem;
      
    }
    48% {
      top: -4.4rem;
      width: 140px;
    }
    62% {
      top: -4.4rem;
      width: 140px;
    }
    66% {
      top: -4.4rem;
      width: 0;
      text-indent: 0;
    }
    71% {
      top: -8.9rem;
      width: 0;
      text-indent: 5px;
    }
    86% {
      top: -8.9rem;
      width: 130px;
    }
    95% {
      top: -8.9rem;
      width: 130px;
    }
    98% {
      top: -8.9rem;
      width: 0;
      text-indent: 5px;
    }
    100% {
      top: 0;
      width: 0;
      text-indent: 0;
    }
  }

  @media (max-width: 900px)  {
    .animated-text-container {
        display: none;
    }
  }